<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andriodconcept">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Check" />
        <activity android:name=".Jobschedular" />
        <activity android:name=".WorkMangerDemo" />
        <activity android:name=".ForegroundService" />
        <activity android:name=".RetrofitLibrary" />
        <activity android:name=".WebServices.gson" />
        <activity android:name=".WebServices.Json" />
        <activity android:name=".WeatherApp" />
        <activity android:name=".WebServices.XmlParsing2" />
        <activity android:name=".WebServices.XmlParsing" />
        <activity android:name=".Basics.MenuAndActionBar" />
        <activity android:name=".Basics.Dialogs" />
        <activity android:name=".Services.Notifications" />
        <activity android:name=".Services.Bluetooth" />
        <activity android:name=".Services.Wifi" />
        <activity android:name=".Services.Sensors" />
        <activity android:name=".ContentProvider.Content" />
        <activity android:name=".BroadcastReciever.Broadcast" />
        <activity android:name=".Services.ServiceExample" />
        <activity android:name=".Multimedia.Takephoto" />
        <activity android:name=".Multimedia.Videorecord" />
        <activity android:name=".Multimedia.Audiorecord" />
        <activity android:name=".Multimedia.Videoplayer" />
        <activity android:name=".Multimedia.Mediaplayer" />
        <activity android:name=".AsyncTask.Asynctask" />
        <activity android:name=".Services.Telephone" />
        <activity android:name=".Storages.Sqlite1" />
        <activity android:name=".Storages.Shraredsignup" />
        <activity android:name=".Storages.Shraredpreferances" />
        <activity android:name=".Fragments.MyFragment" />
        <activity android:name=".WebView.Webview" />
        <activity android:name=".Basics.Gallery" />
        <activity android:name=".Basics.Dlv3" />
        <activity android:name=".Basics.Dynamiclistview2" />
        <activity android:name=".Basics.Dlv" />
        <activity android:name=".Basics.Actv" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Check$CheckService"
            android:enabled="true"
            android:exported="true"/>
        <receiver
            android:name=".Check$CheckReciever"
            android:exported="true"/>
        <service
            android:name=".Jobschedular$MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".Jobschedular$MyReciever"
            android:exported="true">
            <intent-filter>
                <action android:name="my.custom.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForeground"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>